.header-title {
  background-color: rgb(229, 0, 3);
  float: left;
  width: 100%;
}
.header-img {
  background-image: url('/timeline.png');
  background-repeat: no-repeat;
  background-position: -805px -42px;
  height: 317px;
  width: 540px;
  float: right;
}
.header-avatar {
  bottom: -200px;
  left: 10px;
  position: relative;
  z-index: 3;
}
.header-avatar-inner {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  height: 210px;
  position: relative;
  width: 210px;
}
.header-avatar-img {
  background-image: url('/timeline.png');
  background-position: -93px -243px;
  height: 200px;
  width: 200px;
}
