$base_spacing: 5px;
$border_radius: 5px;
$default_text_color: #292f33;
$gray: #e1e8ed;
$icon-font-path: "../../fonts";
$secondary_text_color: #66757f;
$twitter_branding: #1da1f2;
$theme_color: #A8A1A2;
$theme_text_color: $theme_color;
$topbar-height: 46px;
$global_nav_height: $topbar-height;