
suggestion-component{
    
    .thumbnail{
        height: 36px;
    }

    @media (max-width: 768px ) { 
        .thumbnail{
            height: 36px;
        }

        .hide-panel{
            display: none;
        }
    }
}