<div class="hide-panel panel panel-default">
  <div class="panel-body padding">
    <div class="row">
        <div class="col-md-12">
            Quem seguir
        </div>
    </div>
    <div class="suggest-row row" ng-repeat="suggest in suggestionCtrl.suggestions">
        <div class="col-md-3">
            <div class="tweet-avatar thumbnail">
                <img src="{{suggest.profile_image_url}}">
            </div>
        </div>
        <div class="col-md-9">
            {{suggest.name}} <span class="username-style">@{{suggest.screen_name}}</span>
            <div>
                <a href="" class="btn btn-sm btn-default"> 
                    <img class="glyphicons" src="assets/images/glyphicons/glyphicons-4-user.png">
                    <strong> Seguir </strong>
                </a>
            </div>
        </div>
        
        
    </div>
    
</div>



  
</div>