$fonts-dir: '../fonts';
$img-dir: '../img';

$browser-context: 14;
$base-font-size: #{$browser-context}px;

$primary-font: Arial, sans-serif;
$secondary-font: '';

$primary-color: #14171a;
$secondary-color: #1da1f2;
$link-color: #a8a1a2;