
<nav class="navbar navbar-default custom-navbar-height">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="items-padding">
            <a href="">
              {{profileNavCtrl.TWEETS}}
              <div>{{profileNavCtrl.countTweets}}</div>
            </a>
          </li>
          <li class="items-padding">
            <a href="">
              {{profileNavCtrl.FOLLOWING}}
             <div> {{profileNavCtrl.friendsCount}}</div>
            </a>
          </li>
          <li class="items-padding">
           <a href="">
              {{profileNavCtrl.FOLLOWERS}}
              <div>{{profileNavCtrl.followersCount}}</div>
            </a>
          </li>
          <li class="items-padding">
            <a href="">
              {{profileNavCtrl.LIKES}}
              <div>{{profileNavCtrl.favouritesCount}}</div>
            </a>
          </li>
        </ul>
    </div>
  </div>
</nav>