
tweet-component{

    @media (max-width: 768px ) { 
         .tweet-avatar{
            height: 10%;
        }

        .tweet-img{
            width: 250px; 
            height: auto
        }
     }

    @media (min-width: 768px  ) and (max-width: 991px ) { 
  
    }

    @media (min-width: 992px ) and (max-width: 1200px ) {
         
    }

    @media (min-width: 1201px ) { 
        .tweet-avatar{
            height: 10%;
        }
        .tweet-img{
            width: 400px; 
            height: auto
        }
        .m-t{
            margin-top: 20px;
        }
        .padding{
            padding: 10px;
        }
    }   
}