<div class="hide-panel panel panel-default">
  <div class="panel-body padding">
    <div class="row">
        <div class="col-md-12">
            Assuntos do Momento: Brasil
        </div>
    </div>
    <div class="suggest-row row" ng-repeat="topic in trendsCtrl.trends">
        
        <div class="col-md-12">
            <h5>{{topic.name}}</h5>
            <span class="username-style">{{topic.tweet_volume}} Tweets </span>
            
        </div>
        
        
    </div>
    
</div>
  
</div>