@font-face {
  font-family: 'rosetta-icons-Regular';
  src: url('/static/fonts/rosetta-icons-Regular.woff') format('woff'),
       url('/static/fonts/rosetta-icons-Regular.ttf') format('truetype'),
       url('/static/fonts/rosetta-icons-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}
