@font-face {
    font-family: 'Icons';
    src: url('../fonts/twitter-icons.eot'); /* Internet Explorer 9 */
    src: url('../fonts/twitter-icons.woff') format('woff'), /* Modern Browsers */
         url('../fonts/twitter-icons.ttf')  format('truetype'); /* Safari, Android, iOS */
}

i {
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tweet:before { content: "\f029"; }
.icon-marker:before { content: "\f031"; }
.icon-times:before { content: "\f045"; }
.icon-calendar:before { content: "\f046"; }
.icon-home:before { content: "\f053"; }
.icon-envelope:before { content: "\f054"; }
.icon-bell:before { content: "\f055"; }
.icon-user:before { content: "\f056"; }
.icon-search:before { content: "\f058"; }
.icon-cog:before { content: "\f059"; }
.icon-chain:before { content: "\f098"; }
.icon-verified:before { content: "\f099"; }
.icon-camera:before { content: "\f111"; }
.icon-more:before { content: "\f150"; }
.icon-reply:before { content: "\f151"; }
.icon-retweet:before { content: "\f152"; }
.icon-user-plus:before { content: "\f175"; }
.icon-twitter:before { content: "\f179"; }

.icon-heart {
    width: 1.5rem;
    height: 1.6rem;
    background-image: url('../images/heart.svg');
    background-size: 100%;
}

.icon-bolt {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../images/bolt.svg');
    background-size: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
