
.cover_photo {

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18vh;

    &__content {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}
