body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 40px 0;
    color: white;
    background: #fff;
    overflow-x: hidden;
}
.box {
    padding: 10px;
}

.tweets{
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;
}

.tweet:hover{
  background: #eee;
}

.tweet{
  margin: 20px;
  color: #2c3e50;
  border-radius: 3px;
  background: white;
  box-shadow: 0 3px 0 #eee;
}
.tweet a {
  color: #9BC0BE;
  text-decoration: none;
}
.tweet .avatar {
  padding: 5px;
  position: relative;
  display: inline-block;
  float: left;
  width: 48px;
}

.tweet blockquote {
    font-size: 14px;

    display: inline-block;
    float: right;

    width: calc(100% - 72px);
    margin: 0;
    padding: 5px;
}
.tweet blockquote .content
{
    display: block;
    clear: left;


    margin-top: 5px;
}


.tweet:before,
.tweet:after
{
    display: table;

    content: ' ';
}

.tweet:after
{
    clear: both;
}


/*****Header*****/

.top-user{
  height: 41px;
  width: 100%;
  background: #FFFFFF;

}

.top-user ul{
  display: inline-block;
  vertical-align: middle;
  transform: translateY(30%);
  position: relative;

}
.top-user ul a {
  color: #66757f;
  text-decoration: none;
}
.top-user ul li {
  list-style-type: none;
  display: inline;
  padding: 15px;
  vertical-align: middle;
}


.top-user a .twitter-img {
  height: 25px;
  width: 25px;
  transition: all .2s ease-in-out;
   transform: translateY(30%);
}

.top-user a .twitter-img:hover {
  transform: scale(1.1);
}
.top-user .form-group {
    width: 220px;
    transform: translateY(4px);
}
.top-user .form-group input{
  border-radius: 15px;
  background: #f5f8fa;
  height: 33px;
  width: 220px;
}

.top-user .hidden-xs{
  transform: translateY(4px);
}
.glyphicon-search {
  color: #66757f;

}
header{
  background: url(../images/background-header.png) #E50014 no-repeat right;
  height: 319px;
}


