<header class="navbar navbar-default navbar-fixed-top">
   <nav class="navbar-collapse collapse">
        <div class="container">
            <div class="col-md-5 visible-lg">
                <ul class="nav navbar-nav">
                    <navbar-option title="Home"></navbar-option>
                    <navbar-option title="Moments"></navbar-option>
                    <navbar-option title="Notifications"></navbar-option>
                    <navbar-option title="Messages"></navbar-option>
                </ul>
            </div>
            <div class="col-md-2 navbar-icon-container">
                <navbar-icon></navbar-icon>
            </div>
            <div class="col-md-5 navbar-actions-container visible-lg">
                <div class="col-md-7 col-md-offset-1">
                    <navbar-search></navbar-search>
                </div>
                <div class="col-md-2 navbar-actions-container-btn pull-right">
                    <button class="btn btn-tweet">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>Tweet</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>